In [1]:
from datetime import datetime 
start_time = datetime.now()

In [2]:
import dask.dataframe as dd

In [3]:
df = dd.read_parquet('/Volumes/SanDiskSSD/TestData/nyc-taxi-parquet/*/*/*')
df

Dask DataFrame Structure:
                vendor_id       pickup_at      dropoff_at passenger_count trip_distance pickup_longitude pickup_latitude rate_code_id store_and_fwd_flag dropoff_longitude dropoff_latitude payment_type fare_amount    extra  mta_tax tip_amount tolls_amount total_amount
npartitions=102
                   object  datetime64[ns]  datetime64[ns]            int8       float32          float32         float32       object             object           float32          float32       object     float32  float32  float32    float32      float32      float32
                      ...             ...             ...             ...           ...              ...             ...          ...                ...               ...              ...          ...         ...      ...      ...        ...          ...          ...
...                   ...             ...             ...             ...           ...              ...             ...          ...                ...               ...              ...          ...         ...      ...      ...        ...          ...          ...
                      ...             ...             ...             ...           ...              ...             ...          ...                ...               ...              ...          ...         ...      ...      ...        ...          ...          ...
                      ...             ...             ...             ...           ...              ...             ...          ...                ...               ...              ...          ...         ...      ...      ...        ...          ...          ...
Dask Name: read-parquet, 102 tasks

In [4]:
dd.compute(df.passenger_count.min(), df.passenger_count.max())

(-127, 97)

In [5]:
dd.compute(df.trip_distance.min(), df.trip_distance.max())

(-40840124.0, 198623008.0)

In [6]:
time_elapsed = datetime.now() - start_time 
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms) 0:00:23.568308