In [1]:
from pytictoc import TicToc
t = TicToc()
t.tic()

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = np.random.randn(1_000_000)

In [4]:
df = pd.DataFrame(data, columns=['data'])

In [5]:
df

            data
0      -0.302993
1      -0.047565
2       0.819491
3      -1.778235
4       1.153943
...          ...
999995  0.557813
999996  0.570820
999997 -0.277225
999998 -0.327505
999999 -0.168649

[1000000 rows x 1 columns]

In [6]:
df['sma'] = df.data.rolling(10).mean()

In [7]:
df

            data       sma
0      -0.302993       NaN
1      -0.047565       NaN
2       0.819491       NaN
3      -1.778235       NaN
4       1.153943       NaN
...          ...       ...
999995  0.557813 -0.233253
999996  0.570820 -0.111359
999997 -0.277225 -0.126407
999998 -0.327505 -0.101268
999999 -0.168649 -0.160833

[1000000 rows x 2 columns]

In [8]:
t.toc()

Elapsed time is 0.698056 seconds.

In [9]:
%timeit df.data.rolling(10).mean()

28 ms ± 466 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [10]:
def udf(x):
    return np.mean(x)

In [11]:
%timeit df.data.rolling(10).apply(udf, raw=True)

6.03 s ± 221 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [12]:
# %time df.data.rolling(10).apply(udf, raw=True, engine="numba")