In [3]:
from pytictoc import TicToc
import timeit
t = TicToc()
t.tic()

In [4]:
import pandas as pd
import numpy as np

In [5]:
N = 10**8

In [6]:
data = np.random.randn(N)

In [7]:
df = pd.DataFrame(data, columns=['data'])

In [8]:
df['sma'] = df.data.rolling(10).mean()

In [9]:
df

              data       sma
0         0.707850       NaN
1        -0.881195       NaN
2         0.828614       NaN
3         0.303703       NaN
4         0.097597       NaN
...            ...       ...
99999995 -0.002153  0.112268
99999996 -0.063238  0.108362
99999997  1.066875  0.213851
99999998 -2.090476 -0.061401
99999999 -0.138273 -0.079887

[100000000 rows x 2 columns]

In [10]:
t.toc()

Elapsed time is 20.156271 seconds.

In [11]:
%timeit np.random.randn(N)

3.22 s ± 239 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [12]:
%timeit df.data.rolling(10).mean()

3.33 s ± 80.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)